.create-title{
  margin: 36px;
}

.show-nav {
  background-color: #be8a60;
  a {
    font-size: 50px;
  }
}

.new-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: space-around;
  background-color: #f9dbbd;
  border-color: #2e2836;
  box-shadow: 4px 4px 8px #2e2836;
  border-radius: 56px;
  border-style: solid;
  padding: 50px;
  height: 370px;
  width: 1460px;
  margin-left: 140px;
  margin-bottom: 60px;

    li {
      list-style-type: none;
    }
}

.vinaccia-button {
  border: solid 1px #6a2e35;
  background-color: #6a2e35;
  padding: 8px 20px;
  border-radius: 4px;
  box-shadow: 2px 2px #f9dbbd;
  color: white;
}


