// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


body {
  text-align: center;
  background-color: #e5c8ac;
  color: #2e2836;
  font-family: 'Sen', sans-serif;
}

.main-title {
  height: 3.5em;
}

h1 {
  color: #2e2836;
  font-family: 'Sen';
  font-weight: 900;
  margin-bottom: 15px;
}

.cocktail-card-container{
  margin-bottom: 80px;
}

.cocktail-title{
  padding: 48px;
  text-align: center;
  padding-bottom: 20px;
}

.first-banner {
  background-color: #be8a60;
}

.show-nav {
  background-color: #be8a60;
}

.cocktail-card {
  color: #e5c8ac;
  width: 510px;
  height: 420px;
  border-radius: 25px;
  box-shadow: 4px 4px 10px #9F9F9F;
}


.name-button {
  color: #e5c8ac;
  text-decoration: none;
}

a {
  color: #be8a60;
  text-decoration: none !important;
  transition: 0.3s;
}

a:hover {
  color: #2e2836;

}

.trash-button {
  z-index: 999;
}

.img-size {
  object-fit: contain;
}

.add-button {
  color: #2e2836;
  margin-bottom: 40px;
  padding: 16px;
}

.bottonepiu {
  font-size: 30px;
}

.bottonepiu:hover {
  font-size: 45px;
}
